ol, ul, li, dl, dt, dd { list-style:none; padding:0; margin:0; }
p, h3, h4 { padding:0; margin:0; }
img { border: 0; }

a:link { color: #ccc; text-decoration:none; }
a:visited { color: #ccc; }
a:hover { color:#ccc; }
a:active { color:#ccc; }

html { height:100%; overflow:hidden;}
body {
    background:#f8f3eb;
    margin:0;
    font-size:14px;
    font-family: "Microsoft YaHei", STHei, SimHei;
    color:#999;
    height:100%;
    overflow:hidden;
}

.nav {
    top:12px;
    left:198px;
    position:absolute;
    z-index:10;
    width:226px;
    height:36px;
    padding:12px 0 12px 20px;
    background:#1b1b1b;
    font-family:"Microsoft YaHei", STHei, SimHei;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    box-shadow:0 2px 2px rgba(9, 9, 9, .8);

}

.nav div {
    float:left;
    width:48px;
    height:25px;
    line-height:25px;
    font-size:18px;
    color:#928c8c;
    padding:0 16px;
    margin-top:4px;
    border-left:2px solid #333;
    text-align:center;
}
.nav u {cursor:pointer; text-decoration:none;}
.nav-logo { 
    margin-right:20px;
    float:left;
    cursor:pointer;
    background:url(img/sprite8.png) -296px -148px;
}


.top-hr {
    background:#1b1b1b;
    height:12px;
    font-size:1px;
    line-height:1px;
}

.exhibit-ios {
    position:absolute;
    z-index:12;
    top:236px;
    left:441px;
}

.exhibit-android {
    position:absolute;
    z-index:12;
    top:215px;
    left:149px;
}
.mid-bar {
    background:#2a2a2a;
    height:646px;
    background:url(img/bg.png);
}

.color-bar {
    background:url(img/colorbar.png);
    height:5px;
    font-size:1px;
    line-height:1px;
}

.bottom-bar {
    background:url(img/bg_bottom.png);
    height:244px;
}

.mask {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    background:#000;
    opacity:.3;
    display:none;
}
.movie-layer {
    position:absolute;
    z-index:1001;
    display:none;
    padding:10px;
    border-radius:5px;
    background:#fff;
    top:120px;
    box-shadow:0 0 8px #000;
}
.movie-close {
    position:absolute;
    z-index:1002;
    display:none;
    background:#000;
    height:20px;
    line-height:20px;
    border:2px solid #fff;
    border-radius:12px;
    color:#fff;
    font-size:14px;
    text-align:center;
    width:50px;
    top:102px;
    cursor:pointer;
    box-shadow:0 0 8px #000;
}
.mainbody {
    width:100%;
    height:100%;
    overflow: auto;
    position:absolute;
    top:0;
    left:0;
}
.scene {
    width:3840px;
    position:relative;
    top:0;
    left:0;
}

.phone {
    left:117px;
    top:127px;
    position:absolute;
}
.logo { 
    top:138px;
    left:806px;
    position:absolute;
}
.info {
    position:absolute;
    left:725px;
    top:290px;
    width:460px;
}

.info img {
    display:block;
    margin:0 auto;
}

.description { 
    font-family: SimHei;
    font-size:18px; 
    line-height:30px;
    color:#ccc;
    margin-bottom:12px;
    text-align:center;
}
.movie-start{cursor:pointer;}
.download-notice {
    font-size:12px;
    color:#ccc;
    position:absolute;
    top:574px;
    left:810px;
    width:368px;
}

.download-notice b {
    font-size:18px;
    padding-right:6px;
}

.download {
    position:absolute;
    top:605px;
    left:772px;
    width:400px;
}

.download a {
    float:left;
    width:179px;
    height:125px;
}

.download .ios {
    margin-right:9px;
    background:url(img/sprite8.png);
}

.download .android {
    width:178px;
    background:url(img/sprite8.png) -180px 0;
}

.weibo {
    color:#6f6f6f;
    left:3090px;
    top:540px;
    position:absolute;
}

.weibo a {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin-right:11px;
    width:47px;
    height:37px;
}
.weibo .sina {
    background: url(img/sprite8.png) -297px -220px;
}

.weibo .tencent {
    background: url(img/sprite8.png) -297px -181px;
}

.copy {
    top:850px;
    left:850px;
    position:absolute;
    font-size:12px;
}

.joinus {
    width:620px;
    position:absolute;
    left:1580px;
    top:88px;
    text-align:center;
    line-height:30px;
    font-size:18px;
}

.joinus h3 {
    font-size:24px;
    line-height:34px;
    color:#ccc;
    padding-bottom:20px;
}

.join-moreinfo {
    position: absolute;
    top:490px;
    left:1483px;
    width:880px;
    text-align:center;
    line-height:26px;
}

.send-resume {
    position:absolute;
    top:560px;
    left:1816px;
    width:210px;
    height:49px;
}

.send-resume u {
    float:left;
    margin-top:6px;
    width:29px;
    height:21px;
    background:url(img/sprite8.png) -256px -227px;
}

.send-resume span {
    width:160px;
    padding-left:6px;
    float:left;
}
.env {
    position:absolute;
    top:688px;
    left:1388px;
    width:1050px;
}

.env img {
    float:left;
    width:253px;
    height:155px;
    margin-right:9px;
    border-radius:7px;
}

.env1 { background:url(img/photo.jpg);}
.env2 { background:url(img/photo.jpg) -254px 0;}
.env3 { background:url(img/photo.jpg) -507px 0;width:251px;}
.env4 { background:url(img/photo.jpg) -759px 0;}

.belief {
    position:absolute;
    top:406px;
    left:2705px;
    width:880px;
    text-align:center;
    line-height:28px;
    font-size:16px;
    color:#ccc;
}

.team {
    position:absolute;
    left:2732px;
    top:92px;
    width:881px;
    height:212px;
    background:url(img/member.jpg);
}
.dream {
    position:absolute;
    left:2804px;
    top:334px;
}
.group-pic1 {
    position:absolute;
    top:675px;
    left:2705px;
    width:449px;
    height:191px;
    background:url(img/group.jpg);
    border-radius:7px;
}

.group-pic2 {
    position:absolute;
    top:675px;
    left:3160px;
    width:374px;
    height:191px;
    background:url(img/group.jpg) -449px 0 no-repeat;
    border-radius:7px;
}

.balloon1 {
    position:absolute;
    top:12px;
    left:1042px;
    width:660px;
    height:220px;
    background:url(img/balloon.png) 0 -45px no-repeat;
}
.balloon2 {
    position:absolute;
    top:12px;
    left:2238px;
    width:511px;
    height:190px;
    background:url(img/balloon.png) -723px 0 no-repeat;
}

.positions {
    position:absolute;
    left:1337px;
    top:303px;
    width:1162px;
}
.positions-border {
    position:absolute;
    left:1336px;
    top:303px;
    width:1160px;
    height:77px;
    border-right:1px solid #191919;
    border-left:1px solid #333;
}

.positions li {
    width:290px;
    float:left;
    cursor:pointer;
}

.positions li div {
    border-left:1px solid #191919;
    border-right:1px solid #333;
    padding-top:2px;
    height:75px;
}

.positions li p,
.position-title p {
    padding:10px 0 0 8px;
    font-size:18px;
    line-height:22px;
    color:#ccc;
}

.rd {
    background:url(img/sprite8.png) 0 -148px;
    margin-left:51px;
    float:left;
}

.rd-unfold {
    background:url(img/sprite8.png) 0 -212px;
    margin-left:37px;
    float:left;
}

.pm {
    background:url(img/sprite8.png) -64px -148px;
    margin-left:59px;
    float:left;
}

.pm-unfold {
    background:url(img/sprite8.png) -64px -212px;
    margin-left:45px;
    float:left;
}

.ps {
    background:url(img/sprite8.png) -128px -148px;
    margin-left:59px;
    float:left;
}

.ps-unfold {
    background:url(img/sprite8.png) -128px -212px;
    margin-left:45px;
    float:left;
}

.ax {
    background:url(img/sprite8.png) -192px -148px;
    margin-left:64px;
    float:left;
}

.ax-unfold {
    background:url(img/sprite8.png) -192px -212px;
    margin-left:50px;
    float:left;
}

.plus {
    background:url(img/sprite8.png) -257px -187px;
    margin-left:124px;
}

.minus {
    background:url(img/sprite8.png) -257px -148px;
    margin:20px 0 0 110px;
    cursor:pointer;
}

.position-info {
    position:absolute;
    top:303px;
    width:260px;
    height:510px;
    padding:2px 13px 5px;
    background:#333;
    z-index:10;
    display:none;
}

.position-title {
    height:80px;
    border-bottom:1px solid #212121;
    cursor:pointer;
}

.position-detail {
    height:365px;
    overflow-x:hidden;
    overflow-y:auto;
    padding:3px 3px 0;
    border-top:1px solid #404040;
    font:normal 12px/18px SimSun;
    color:#999;
}

.position-detail h4 {
    font-size:12px;
    font-weight:bold;
    color:#ccc;
}
.position-detail ol {
    margin-bottom: 18px;
}

.rd-position {left:1339px;}
.pm-position {left:1629px;}
.ps-position {left:1919px;}
.ax-position {left:2209px;}

.mailus {
    position:absolute;
    top:595px;
    left:2915px;
}
.mailus u {
    display:inline-block;
    *display:inline;
    *zoom:1;
    position:relative;

}

.mailus a{ color:#999;}
.logo-s {
    background:url(img/sprite8.png) -257px -248px;
    width:26px;
    height:23px;
    top:5px;
    margin:0 2px 0 6px;
}

.envelope {
    background:url(img/sprite8.png) -296px -258px;
    width:23px;
    height:17px;
    margin-right:5px;
    top:4px;
}