body { background: url(img/bg.png); margin:0; }
.main { margin:0 auto; width: 958px;}
.head { background: url(img/head.jpg); width: 958px; height: 717px;}
.question { background: #fff; padding: 20px 40px; margin-top: -30px;
	font-family: "Microsoft YaHei", STHei, SimHei;}
.question h4 { font-size: 16px; margin: 30px 0 6px;}
.question { font-size:14px; }
.question td { line-height: 20px;vertical-align: middle;}